.wrapperLi{
    padding: 20px 0px;
    line-height: 18px;
    list-style-type: none;
    width: 1500px;
}
.wrapperRecord{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #61dafb;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;

}
.textRecord {
    width: 600px;
    word-wrap: break-word;
}
.numberRecord {
    width: 300px;
    word-wrap: break-word;
}
.dateRecord {
    width: 250px;
}

